{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": [
      "./tsconfig.json",
      "./client/tsconfig.json"
    ]
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 1
  }
}
